<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IPL Stats Hub</title>
  </head>
  <body>
    <p>
      This app can be used in various scenarios such as building IPL analytics
      tools, creating IPL-related websites or applications, conducting data
      analysis, and developing fantasy cricket platforms.
    </p>

    <h2>endpoints:</h2>

    <ul>
      <li>/all-teams</li>
      <li>/teamVsteam?team1={team_1_name}&{team_2_name}</li>
      <li>/team-details?team={team_name}</li>
      <li>/batsman?batsman={batsman_name}</li>
      <li>/bowler?bowler={bowler_name}</li>
    </ul>
  </body>
</html>
